
.container {
    width: 100%;                              /* Largura do elemento*/
    height: auto;                            /* Altura do elemento*/
    background:#007bbf;                   /* Cor de fundo*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box {
    width: 20%;
    height: 300px;
    background:yellow;
    margin: 20px;                     /* Adiciona uma margem entre o elemento pai (container) e o elemento filho (box)*/
    box-sizing: border-box;          /* Diz que a a largura e a altura do elemento será determidado pelo elemento pai*/
    font-size: 50px;
}


/* adicionar quaries de mídia responsiva */

@media screen and (max-width:1200px) {
    .box {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .box {
        width: 90%;
    }
}
